/* ///////CURSORS/////// */

div.cursors div {
    position: absolute;
    top: 300px;
    left: 300px;
    width: 26px;
    height: 26px;
    border: 3px solid #686bbdc2;
    box-sizing: border-box;
    z-index: 10000;
    pointer-events: none;
    transform: translate(-50%, -100%);
    transform: rotateX(56deg) rotateZ(45deg);
}

div.cursors div span {
    position: absolute;
    top: 0;
    left: 40px;
    width: 300px;

    font-size: 18px;
    line-height: 20px;
    color: #b7b9e7;

    opacity: 0;
    transition: opacity 0.5s;
    
}

div.cursors div span.visible {
    opacity: 1;
}

