* {
    margin: 0;
    padding: 0;

    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.container {
    position: relative;
    width: 1120px;
    height: 100%;
    margin: 0 auto;
}

.container-small {
    position: relative;
    width: 855px;
    height: 100%;
    margin: 0 auto;
}

section#sec-1 {
    position: relative;
    height: 85vh;
    background-color: #151B2B;
    color: white;
}

section#sec-1 .logo {
    position: absolute;
    left: 0;
    top: 40px;
}

section#sec-1 .container {
    display: flex;
    align-items: center;
}




/* //////////LEFT SIDE//////// */

section#sec-1 .left {
    width: 50%;
}


section#sec-1 .title {
    display: flex;
    align-items: center;
}


section#sec-1 h1 {
    font-size: 46px;
    margin-right: 25px;
}

section#sec-1 h2 {
    font-size: 25px;
    max-width: 450px;
    margin: 40px 0;
    font-weight: 500;
}

section#sec-1 p {
    font-size: 16px;
    color: #8686B2;
    max-width: 450px;
    padding-left: 7px;
}

section#sec-1 .row-button {
    margin-top: 60px;
    display: flex;
}

section#sec-1 .row-button button {
    border: none;
    padding: 10px 11px;
    border-radius: 3px;
    color: white;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 0.2px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

section#sec-1 .row-button button i {
    font-size: 0.9em;
    margin-right: 8px;
}


section#sec-1 .row-button button:nth-child(1) {
    background-color: #454658;
    margin-right: 25px;
}

section#sec-1 .row-button button:nth-child(2) {
    /* background-color: #6578C0; */
    background-color: #686bbdc2;
}

section#sec-1 .star-button {
    display: flex;
    height: 30px;
    background-color: white;
    width: 100px;
    border-radius: 3px;
    margin-top: 9px;

}   

section#sec-1 .star-button .star {
    color: black;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}   

section#sec-1 .star-button .star i {
    margin-right: 5px;
} 

section#sec-1 .star-button .count {
    color: black;
    width: 35px;
    border-left: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}   


/* ////////RIGHT SIDE/////// */


section#sec-1 .right {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#sec-1 .carre {
    position: relative;
    width: 320px;
    height: 320px;
    background-color: #ffffff0c;
    transform: rotateX(55deg) rotateZ(45deg);
    padding: 10px
}

section#sec-1 .carre .row {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

section#sec-1 .carre .mini-carre {
    height: 90%;
    width: 45%;
    background-color: #294a8c9c;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#sec-1 .carre .mini-carre img {
    /* transform: rotateZ(deg); */
}


section#sec-1 .carre-top .carre-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #686bbdc2;
    height: 95%;
    width: 95%;
}

section#sec-1 .carre-top .carre-bg img {
    transform: rotateZ(315deg);

}

section#sec-1 .carre-top {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    animation: hamburger-top 3s ease-in-out forwards;

}


section#sec-1 .carre-mid {
    position: absolute;
    z-index: 1;
}

section#sec-1 .carre-bottom {
    position: absolute;
    opacity: 0;
    z-index: 0;
    animation: hamburger-bottom 3s ease-in-out forwards;
    animation-delay: 0.6s;
}

@keyframes hamburger-top {
    from {
        opacity: 0;
        transform: translateY(0%) rotateX(55deg) rotateZ(45deg);
    }
    to {
        opacity: 1;
        transform: translateY(-65%) rotateX(55deg) rotateZ(45deg);
      
    }
}

@keyframes hamburger-bottom {
    from {
        opacity: 0;
        transform: translateY(0%) rotateX(55deg) rotateZ(45deg);
    }
    to {
        opacity: 1;
        transform: translateY(65%) rotateX(55deg) rotateZ(45deg);
      
    }
}

.annotation {
    position: absolute;
    right: 0;
    transform: translateX(145px) translateY(-30px);
}

.annotation-qovery {
    top: 20%;
}

.annotation-cloud {
    bottom: 25%;
}

.annotation-qovery span {
    background-color: red;
}


/* ////////SECTION 2////// */

#sec-2 .container-small {
    padding: 100px 0;
}


#sec-2 .image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

/* ////// SECTION 2 et 3 //////// */

#sec-2 .intro-content,
#sec-3 .intro-content {
    text-align: center;
    margin-bottom: 45px;
}

#sec-2 .intro-content h1,
#sec-3 .intro-content h1 {
    font-weight: 800;
    font-size: 25px;
    line-height: 110%;
    color: #454658;
    margin-bottom: 35px;
}

#sec-2 .intro-content p,
#sec-3 .intro-content p {
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #454658;
    margin: 0px 24px;

}


/* ///////SECTION 3/////// */


#sec-3 .carbon-code {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

#sec-3 .carbon-code-img {
    width: 900px;
    height: 100%;
    border-radius: 5px;
    filter: drop-shadow(5px 5px 5px #cccc);
}
